extends ../layout

block content
  section.search-section
    .search-wrapper
      form(action="/home" method="GET")
        label(for="search") Search Motivational Blogs
        input(type="search" id="search" name="query" placeholder="Search for inspiration...")
        button(type="submit") Search
        button(type="button" onclick="window.location='/home'") Clear

  if posts.length
    ul
      each post in posts
        include ../components/blogCard
  else
    p No blogs found. Please try a different search query.
